:root {
    --primary:black;
    --secondary:forestgreen;
    --accent: red;
    --bg: aqua;
    --card-bg: white;
    --text: black;
    --muted: black;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    padding: 20px;
  }
